@media (max-width: 1360px) {
  .container {
    width: 90%;
  }
}

@media (max-width: 580px) {
  .logo {
    display: none;
  }
}

@media (max-width: 1330px) {
  .flex {
    flex-wrap: wrap;
  }
  .card {
    display: block;
  }
}
